<launch>
    <param name="/use_sim_time" value="true"/>
    <param name="lat_r" value="45.618932"/>
    <param name="lon_r" value="9.281178"/>
    <param name="alt_r" value="229.046279"/>

    <node pkg="second_project" type="odometer" name="vehicle_odometer" output="screen"/>
    <node pkg="second_project" type="gps_odometer" name="gps_odometer" output="screen"/>
    <node pkg="second_project" type="sector_times" name="sector_times" output="screen"/>
    
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find second_project)/rviz/config.rviz" />

    <node pkg="rosbag" type="play" name="bag" args="--clock ../data/project.bag"/>
    <!-- <node pkg="rosbag" type="record" name="test" args="-a -o ../data/test.bag"/> -->
</launch>