<launch>
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	    <rosparam file="$(find second_project)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
	    <rosparam file="$(find second_project)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
	    <rosparam file="$(find second_project)/cfg/local_costmap_params.yaml" command="load" />
	    <rosparam file="$(find second_project)/cfg/global_costmap_params.yaml" command="load" />
	    <rosparam file="$(find second_project)/cfg/teb_local_planner_params.yaml" command="load" />
	    <rosparam file="$(find second_project)/cfg/move_base_params.yaml" command="load" />

	    <param name="base_global_planner" value="global_planner/GlobalPlanner" />  <!--   planner  navfn/NavfnROS alternative  carrot_planner/CarrotPlanner -->
	    <param name="planner_frequency" value="1.0" />
	    <param name="planner_patience" value="5.0" />
	    <param name="use_dijkstra" value="false" />

	    <!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /-->
	    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	    <param name="controller_frequency" value="5.0" />
	    <param name="controller_patience" value="5.0" /> <!-- How long the controller will wait in seconds without receiving a valid control before space-clearing operations are performed.  -->

        <param name="clearing_rotation_allowed" value="true"/>
  </node>

   <!--<node pkg="tf2_ros" type="static_transform_publisher" name="base_link"  args=" 0 0 0 0 0 0 1 base_footprint base_link" />
   <node pkg="tf2_ros" type="static_transform_publisher" name="base_laser"  args=" 0 0 0 0 0 0 1 base_link base_laser_link" />-->

  </launch>